/**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
/*
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/**/
body,
html {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins', sans-serif;
}

/**/

@tailwind base;
@tailwind utilities;
@tailwind components;